<% layout("/layouts/boilerplate") %>

<div class="container py-4">
  <h2 class="mb-4">WanderLust Listings</h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% for(let post of data){ %>
      <a class="listing-link" href="/listings/<%=post._id%>"><div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="<%= post.image ? post.image.url : 'https://via.placeholder.com/300x200?text=No+Image' %>" alt="listing_image">
            <div class="card-img-overlay" style="color:black">Availible</div>
            <div class="card-body">
            <h5 class="card-title"><b><%= post.title %></b></h5>
            <p class="card-text"> ₹<%= post.price ? post.price.toLocaleString("en-IN") : "0" %>
            </p>
           
          </div>
        </div>
      </div></a>
    <% } %>
  </div>
</div>
