<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <div class="row">
        <div class="col-6 offset-2">
    <form method="POST" action="/listings">
        <h3>Add New Listing</h3>
        <div>
            <label for="title" class="form-label"> Title</label>
            <input class="form-control"  name="listing[title]" placeholder="Add Catchy Title">
        </div>
        <div>
            <label for="image" class="form-label">Image</label>
            <input class="form-control" name="listing[image][url]" placeholder="add image url">
        </div>

    
        <div>
            <label for="description" class="form-label"> Description</label>
            <input name="listing[description]" class="form-control"  placeholder="Description">
        </div>
        <div class="row">
        <div class="mb-3 col-4">
            <label for="country" class="form-label"> country</label>
            <input name="listing[country]" class="form-control" placeholder="Enter Country">
        </div>
        <div class="mb-3 col-5">
            <label for="location" class="form-label"> location</label>
            <input name="listing[location]" class="form-control"  placeholder="Enter Location">
        </div>
    </div>
        
        <div>
            <label for="price" class="form-label"> price</label>
            <br>
            <input name="listing[price]" placeholder="Price" type="number">
        </div>
        <br><br>
        <button class="add-btn" >ADD</button>

    </form>
    <br><br>
</div>
</div>
</body>
