<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation"> </form>
        <label for="username" class="form-label">USername</label>
        <div>
            <input name="username" type="text" id="username" clss="form-control" required />
        <div class="valid-feedback">Looks Good</div>
        </div>
    </div>
</div>